html, body {
    margin: 0;
    padding: 0;
}

body {
    font: normal 100% Helvetica, Arial, sans-serif;
    background-color: #ccc;
}

header {
    background-color: #003;
}

nav {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 960px;
    font-size: 1.5em;
    color: #fff;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: auto 2em;
    min-height: 2em;
    padding-left: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    font-size: 0.667em;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #fff;
    vertical-align: bottom;
}

nav a:hover {
    background-color: #99c;
}

nav a:active {
    background-color: #669;
}

nav input {
    font-size: 0.667em;
    margin: 0.25em 0.5em;
    border: 1px solid black;
}

article {
    background-color: #fff;
    color: #333;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 960px;
    overflow: auto;
    /*white-space: pre-wrap;*/
    word-wrap: break-word;
    padding: 1em;
}

article pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

article a {
    text-decoration: none;
}

article img {
    max-width: 100%;
}